
 #emp_kpi_item .kpi_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-bottom: 20px;
}
#emp_kpi_item .kpi_percentage {
  margin-bottom: 20px;
}
#emp_kpi_item .deleteIcon img {
  width: 5vh;
  height: 5vh;
}
#emp_kpi_item .deleteIcon{
margin-top: 1px;
}
#emp_kpi_item .kpi_item{
    position: relative;
}


